#home{
    height: 500px;
    width: 1250px;
 
}

.div1{
    height: 500px;
    width: 625px;
    
    float: left;
   
}

.div2{
    height: 500px;
    width: 625px;
    
    float: left;
  
}

.ani{
    animation-name: space;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes space {
    0%{
        letter-spacing: 0px;
    }
    100%{
        letter-spacing: 10px;
    }
    
}

.h:hover{
    transform: scale(1.1);
}

.tech{
    height: 100px;
    width: 1250px;
    background-color: #00BFFF;
    color: black;
    text-align: center;
}

#flex{

    display: flex;
    flex-wrap: wrap;
    flex-direction:row ;
    margin-top: 50px;
    justify-content: space-between;
    
}